.fanwood-text-regular {
    font-family: "Fanwood Text", serif;
    font-weight: 400;
    font-style: normal;
}

.fanwood-text-regular-italic {
    font-family: "Fanwood Text", serif;
    font-weight: 400;
    font-style: italic;
}

.alegreya-sans-regular {
    font-family: "Alegreya Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.alegreya-sans-medium {
    font-family: "Alegreya Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.alegreya-sans-bold {
    font-family: "Alegreya Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.alegreya-sans-regular-italic {
    font-family: "Alegreya Sans", serif;
    font-weight: 400;
    font-style: italic;
}
