@use "pico" with (
    $theme-color: "jade"
);
@use "colors" as *;

@use "typefaces";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Fanwood+Text:ital@0;1&display=swap');

html {
    font-size: 21px;
}

.container {
    max-width: 40rem;
}

body {
    font-family: "Alegreya Sans", sans-serif;
}

h1 {
    font-family: "Fanwood Text", serif;
    font-weight: 400;
    font-style: normal;
}

h2, h3, h4 {
    font-family: "Fanwood Text", serif;
    font-weight: 400;
    font-style: italic;
}

body > header {
    border-bottom: 1px solid rgba(32, 38, 50, .9);
    background-color: hsl(220, 24%, 12%);

    h1 {
        margin-top: 0.5em;
    }
}

body > footer {
    border-top: 1px solid rgba(32, 38, 50, .9);
    background-color: hsl(220, 24%, 12%);
}

main {
    em, strong {
        color: $jade-400;
    }
}
