# Build artefacts
calendar.pdf
wall.pdf
desk.pdf
desk-stand.pdf
# Generated with mako templates
calendar.tex
data/years/*.csv
.doit.db
.doit.db.bak
.doit.db.dir

gh-pages/

node_modules/

# LaTeX temp files
*.aux
*.log
*.toc
*.lof
*.fls
*.fdb_latexmk
*.out

wallcalendar.zip
doc/wallcalendar.pdf
doc/wallcalendar-code.pdf
doc/_minted-wallcalendar/
doc/_minted-wallcalendar-code/
doc/examples/i18n
doc/examples/wallcalendar-helpers.lua
doc/examples/mwe.*
doc/examples/wallcalendar.cls
doc/examples/cal-burst/doc_data.txt
doc/examples/diff-old/*.pdf
doc/examples/diff-old/doc_data.txt
doc/examples/diff-new/*.pdf
doc/examples/diff-new/doc_data.txt
doc/examples/diff-compare/*.jpg
doc/examples/diff-compare/doc_data.txt

# Emacs temp files
auto/
.auctex-auto/
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
.projectile
TAGS

# Vim temp files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

# MacOS
.DS_Store
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
